@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');
body
{
	background-image: url(../images/back_1_20.png);
}
#logoHolder
{
	text-align: center;
	margin: auto;
	position: relative;
	top: 12.5%;
	background-color: #B2FF66;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
#logo
{
	display: block;
	position: absolute;
	left: 43px;
	top: 47.5px;
}
#loginHolder
{
	background-color: #B2FF66;
	width: 800px;
	height: 380px;
	border-radius:5%;
	position: relative;
	margin: auto;
	top: 15%;
	text-align: center;
}
#login
{
	position: absolute;
	width: 60%;
	height: 370px;
}
#loginText
{
	font-size: 60px;
	color: #DB7093;
	font-family: 'Amatic SC', cursive;
	font-weight: bolder;
}
.formText
{
	font-size: 30px;
	color: #DB7093;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}
.inputField
{
	border: 2px solid #DB7093;
	border-radius: 4px;
	height: 24px;
}
#submit
{
	color: #DB7093;
	font-size: 16px;
	border-radius: 15%;
}
#border
{
	position: absolute;
	left: 60%;
	top: 20px;
	width: 1px;
	height: 340px;
	border: 2px solid #DB7093;
}
#third
{
	position: absolute;
	left: 65%;
	width: 30%;
	height: 380px;
}
#introText
{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%; 
	font-family: 'Amatic SC', cursive;
	color: #DB7093;
	font-size: 24px;
	font-weight: bold;
}
#butt
{
	position: absolute;
	top: 72%;
	margin: auto;
	left: 42%; 
	display: block;
}
#clickMe
{
	width: 80%;
	font-family: 'Amatic SC', cursive;
	color: #DB7093;
	font-size: 20px;
	position: absolute;
	top: 85%;
	left: 10%;
	font-weight: bold;
}