body
{
	background-image: url(../images/back_1_20.png);
}
#logoHolder
{
	text-align: center;
	margin: auto;
	position: relative;
	top: 12.5%;
	background-color: #B2FF66;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
#logo
{
	display: block;
	position: absolute;
	left: 43px;
	top: 47.5px;
}
#loginHolder
{
	background-color: #B2FF66;
	width: 800px;
	height: 380px;
	border-radius:5%;
	position: relative;
	margin: auto;
	top: 15%;
}
#loginText
{
	font-size: 20px;
}