body
{
	background-image: url(back_1_20.png);
}
#logoHolder
{
	text-align: center;
	margin: auto;
	position: relative;
	top: 12.5%;
	background-color: #B2FF66;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	opacity: 0.75;
}
#logo
{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: -7%;
}